<footer class="border-t border-gray-400 mt-8 py-4">
  <div class="my-8 mx-8">
    <ul class="space-y-1 list-disc text-left">
      <li><b>Ubicación:</b> Fira de Barcelona, Hospitalet de Llobregat</li>
      <li><b>Fechas:</b> 5, 6 y 7 de Mayo 2025</li>
    </ul>
  </div>
  <div class="flex justify-between items-center pb-4
  max-[900px]:grid max-[900px]:grid-cols-2 max-[900px]:grid-rows-2">
  <img class="h-[75px] max-[900px]:col-start-1 max-[900px]:row-start-2" src="./assets/images/logoSmall.png" height="75px">
  <ul class="flex list-none max-[900px]:col-span-2 max-[900px]:row-start-1 max-[900px]:justify-self-center">
    <li class="navegador"><a class="enlace" href="./index.html">Front Page</a></li>
    <li class="navegador"><a class="enlace" href="./pageTwo.html">Page Two</a></li>
    <li class="navegador"><a class="enlace" href="">Page Three</a></li>
    <li class="navegador"><a class="enlace" href="">Page Four</a></li>
  </ul>
  <ul class="flex list-none max-[900px]:col-start-2 max-[900px]:row-start-2 max-[900px]:justify-self-end">
    <li class="navegador"><a href="https://www.facebook.com/"><img class="h-[30px]" src="./assets/images/facebook.png" height="30px"></a></li>
    <li class="navegador"><a href="https://www.x.com/"><img class="h-[30px]" src="./assets/images/twitterx.png" height="30px"></a></li>
    <li class="navegador"><a href="https://plus.google.com/"><img class="h-[30px]" src="./assets/images/google-plus.png" height="30px"></a></li>
  </ul>
</div>
</footer>
